<% const spotify = locals.spotify %>
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="/stylesheets/Home/style.css">
</head>
<body>  
    <% if (!spotify) { %>
        <div class="navbar">
            <a href="/">ACAV</a>
            </div>
        
        <div class="card">

            <img src="/images/blank-profile.jpg" alt="avatar" style="width:100%" class = "avatar" >
            <h1 class="name">Connect with Spotify </h1>
            <p>Spotify Profile</p>
            <p><button onclick="location.href='/connect'" type="button">Connect</button></p>

          </div>
    <% } else { %>
        <div class="navbar">
            <a href="/">ACAV</a>
            <a href="/spotify/songs">Songs</a>
            <a href="/spotify/artists">Artists</a>
            <a href="/spotify/albums">Albums</a>
            <a href="/map">Map</a>
            <a href="#" class="right">Logout</a>
            </div>
        <!-- <div class="home-wrapper">
            <div class="spotify-wrapper">
                <h2 class="connected-as"><i class="fab fa-spotify"></i> Connected as: </h2>
                <div class="buttons">
                    <a href="<%= spotify.href %>" class="button button-spotify hover-none" target="_blank">
                        <% if (spotify.picture) { %>
                        <img src="<%= spotify.picture %>" alt="avatar" class="avatar">
                        <% } %>
                        <span class="name"><%= spotify.name %></span>
                    </a>
                </div> -->
                
                <!-- <div class="buttons">
                    <a href="/spotify/songs" class="button button-opaque15 hover-none<% if (locals.currentPage === 'songs') {
                    %>  active<% } %>">
                        <span>Songs</span>
                    </a>
                    <a href="/spotify/artists" class="button button-opaque15 hover-none<% if (locals.currentPage === 'artists') {
                    %>  active<% } %>">
                        <span>Artists</span>
                    </a>
                    <a href="/spotify/albums" class="button button-opaque15 hover-none<% if (locals.currentPage === 'albums') {
                    %>  active<% } %>">
                        <span>Albums</span>
                    </a>
                    
                </div> -->
            </div>
        </div>
        <div class="card">
            <% if (spotify.picture) { %>
                <img src="<%= spotify.picture %>" alt="avatar" style="width:100%" class = "avatar" >
                <% } %>
            <h1 class="name"><%= spotify.name %></h1>
            <p>Spotify Profile</p>
            
            <p><button onclick="location.href='<%= spotify.href %>'" type="button">Open Spotify</button></p>

          </div>
        <% } %>
</body>
</html>
